<mat-toolbar>
  <span class="fill-remaining-space">Angular Lab</span>
  <span style="flex: 1 1 auto;"></span>
  <span>{{userName}}</span>
  <span>
    <mat-icon>person</mat-icon>
  </span>
</mat-toolbar>
<!--
<div class="header">
  <div class="header-content" fxLayout="row" fxLayoutAlign="space-between">
    <img class="logo" [src]="logo" alt="logo">
    <div>
      <div class="user" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10">
        <p class="username"></p>
        <img class="profile-picture" [src]="profilePicture" alt="avatar">
      </div>
    </div>
  </div>
</div>-->
