<section class="footer" style="margin-top: 50px">
  <ul>
    <ng-container *ngFor="let link of links">
      <li>
        <a [routerLink]="link.path" routerLinkActive="active">{{link.label}}</a>
      </li>
    </ng-container>
  </ul>

  <p>©AngularLab 2023</p>
</section>

<!--
<ul>
  <ng-container *ngFor="let link of links">
    <li (click)="onLinkClick(link.label)">
      <a href="E"
         [ngClass]="{'default': !link.active, 'active': link.active}">
        {{link.label}}
      </a>
    </li>
  </ng-container>
</ul>-->
