<section class="navbar">
  <ul fxLayout="column" fxLayoutGap="5px">
    <ng-container *ngFor="let link of links">
      <li fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>{{link.icon}}</mat-icon>
        <a [routerLink]="link.path" routerLinkActive="active">{{link.label}}</a>
      </li>
    </ng-container>
  </ul>
</section>

<!-- <li>
      <a routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a routerLink="/contacts" routerLinkActive="active">Contacts</a>
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="active">About</a>
    </li>-->

<!--
<ng-container *ngFor="let link of links">
  <li>
    <div [ngClass]="{'default': !link.active,
                          'active': link.active}"
         (click)="onLinkClick(link.label)">
      <a href="#">{{link.label}}</a>
    </div>
  </li>
</ng-container>-->
