ul{
  list-style-type: none;
}
label, div.label{
/*  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;*/
}
button{
  width: fit-content;
}

.user-list{
  padding: 0;
  li:hover{
    font-weight: bold;
    cursor: pointer;
  }
}
