ul{
  list-style-type: none;

  li>label, li>div{
    width: 200px;
    display: flex;
    flex-direction: column;
  }
  button{
    width: fit-content;
  }
}
.user-list{
  li:hover{
    font-weight: bold;
    cursor: pointer;
  }
}
